<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="default :: head">
    <!-- Default content for prototyping. This will be replaced by Thymeleaf. -->
    <title tiles:fragment="title">TGaaD Prototype</title>

    <link rel="stylesheet" th:href="@{/css/auction.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Two Guys and a Dream</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Auction</a></li>
                    <li><a href="#about">Add Player</a></li>
                    <li><a href="#contact">Contracts</a></li>
                    <li><a href="#contact">Draft Results</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 11px"><i class="fa fa-cog fa-2x" /></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
                <h4 th:text="|Welcome ${user.username} [${user.id}]|"></h4>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Player</th>
                        <th>Position</th>
                        <th>Current Bid</th>
                        <th>Bidder</th>
                        <th>Time Remaining</th>
                        <th>Bid</th>
                    </tr>

                    <tr th:each="bid : ${league.auctionBoard}">
                        <td><a href="#" rel="popover" data-toggle="popover" data-placement="right"
                               data-html="true"
                               data-trigger="focus"
                               data-content="${bid.player.team}"
                                th:text="${bid.player.name}">Aaron Rodgers</a></td>
                        <td th:text="${#strings.listJoin(bid.player.positions, ',')}">QB</td>
                        <td th:text="${bid.amount}">$25</td>
                        <td th:text="${bid.team}">Salt Bandits</td>
                        <td th:text="${#calendars.format(bid.expirationTime, 'mm:ss')}">00:38</td>
                        <td width="110">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" aria-label="Bid" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-label="Bid">Bid</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

            </div>
            <div class="col-md-4">
                <div class="panel">
                    <table class="table table-condensed">
                        <tr>
                            <th><small>Team</small></th>
                            <th><small>Money</small></th>
                            <th><small>Max</small></th>
                            <th><small>Roster</small></th>
                            <th><small>Adds</small></th>
                        </tr>
                        <tr th:each="team : ${league.teamStatistics}">
                            <td><small th:text="${team.key.name}">Salt Bandits</small></td>
                            <td><small th:text="${team.value.availableBudget}">$150</small></td>
                            <td><small th:text="${team.value.maxBid}">$123</small></td>
                            <td><small th:text="${team.value.openRosterSpots}">11</small></td>
                            <td><small th:text="${team.value.adds}">2</small></td>
                        </tr>
                    </table>
                </div>
                <div class="panel hidden roster" th:each="team : ${league.rosters}" th:id="|roster-${team.key.name}|">
                    <table class="table table-condensed">
                        <tr>
                            <th><small>Player</small></th>
                            <th><small>Cost</small></th>
                            <th><small>Position</small></th>
                        </tr>
                        <tr th:each="player : ${team.value}">
                            <td><small th:text="${player.player.name}">Odell Beckham, Jr.</small></td>
                            <td><small th:text="${player.cost}">$8</small></td>
                            <td><small th:text="${#strings.listJoin(player.player.positions, ',')}">WR</small></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div th:include="default :: footer"></div>
</body>
</html>
