<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="default :: head">
    <!-- Default content for prototyping. This will be replaced by Thymeleaf. -->
    <title tiles:fragment="title">TGaaD Prototype</title>

    <!-- Bootstrap dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" />

    <!-- React dependencies -->
    <script src="https://fb.me/react-0.14.2.js" />
    <script src="https://fb.me/react-dom-0.14.2.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js" />


    <!-- Custom dependencies -->
    <link rel="stylesheet" th:href="@{/css/auction.css}" />
    <script th:src="@{/js/auction.jsx}" type="text/babel" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Two Guys and a Dream</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/league/{leagueId}/auction(leagueId=${leagueId})}">Auction</a></li>
                    <li><a th:href="@{/league/{leagueId}/availableplayers(leagueId=${leagueId})}">Add Player</a></li>
                    <li><a th:href="@{/league/{leagueId}/results(leagueId=${leagueId})}">Draft Results</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 11px"><i class="fa fa-cog fa-2x" /></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body" id="auctionBoard" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body" id="teamSidebar" />
                </div>
            </div>
        </div>
    </div>

<div th:include="default :: footer"></div>
</body>
</html>
