<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>Two Guys and a Dream</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>


    <script src="//code.jquery.com/jquery-1.11.3.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"/>

    <script language="JavaScript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
</head>

<body>

<div th:fragment="footer" class="navbar navbar-default text-center">
    <p class="navbar-text">&copy; 2015 Two Guys and a Dream</p>
</div>

</body>

</html>
