/* Stylesheet for Fantasy Sports site */

body {background: #5599cc; color:#FFFFFF; font: 12px/1.25 Helvetica, Arial, sans-serif; text-align: center;}

a {color:#FFFF00;}

ul, li {margin: 0; padding: 0; list-style: none;}

h1, h2, h3, h4, h5, h6 {color:white;}

table {background: #EEEEEE; color:#000000; border: 2px solid #000099; padding: 5px;}
table.none {background:transparent; border: 0px;}
table.menu {background:#EEEEEE; border: 2px solid navy;}

td {border:1px solid #000099; padding: 2px;}
td.none {border:0px; padding: 0px;}
table.menu td {border:0px; padding:0px; padding-left:6px; padding-right:6px;}
table.menu td a {color:blue;}

/* page */

.container {margin: 0 auto; width: 1180px;}

.pageWrap {margin: 0 auto; margin-top: 28px; padding: 8px 0; width: 98%; border: 1px solid darkblue; border-width: 1px 0; overflow: hidden;}

/* header */

.header {}
.header a:link, .header a:visited, .header a:active {color: blue;}
.header a:hover {color: purple;}

.userInfo {margin: 0 auto; width: 88%; text-align: right;}
.userInfo h4 {margin: 0; padding: 0;}
.userInfo h4 span {padding-left: 4px; font-size: 85%;}

.headerTitle { margin: 0 auto; width: 88%; text-align: center;}
.headerTitle h2 {margin: 0; padding: 4px 0;}

/* nav bar */

.nav {margin: 0 auto; width: 95%; overflow: hidden;}
.navLinks {white-space:nowrap /*IE hack*/; border:none;} /*Color navigation bar normal mode*/
.navLinks:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} /*Clear floats*/
.navLinks ul {margin: 0; padding: 0; list-style-type: none !important;}
.navLinks ul li {float:left; z-index:auto !important /*Non-IE6*/; z-index:1000 /*IE6*/; margin: 0; padding: 0;}
.navLinks ul li a:link, .navLinks ul li a:visited, .navLinks ul li a:hover, .navLinks ul li a:active {float:none !important /*Non-IE6*/; float:left /*IE-6*/; display:block; background-color: silver; height:1.75em; line-height:1.75em; padding:4px 22.4px; text-decoration:none;}
.navLinks ul li.pageON a:link, .navLinks ul li.pageON a:visited, .navLinks ul li.pageON a:hover, .navLinks ul li.pageON a:active {background-color: white;}
.navLinks ul li:hover {position:relative;} /*Sylvain IE hack*/
.navLinks ul li:hover a:link, .navLinks ul li:hover a:visited, .navLinks ul li:hover a:hover, .navLinks ul li:hover a:active {background-color: blue; text-decoration:underline;} /*Color main cells hovering mode*/
.navLinks ul li a:hover {position:relative /*Sylvain IE hack*/; z-index:1000 /*Sylvain IE hack*/; background-color: blue; color: #fff; text-decoration:none;} /*Color main cells hovering mode*/

/* auction page */

#auctionPage #main_div {position: relative; overflow: hidden;}

#auctionPage #teamsBlock {float: left;}
#auctionPage #teamsBlock #stat_table {font-size: 80%;}
#auctionPage #teamsBlock #stat_table div#teamRoster {width: 98%; height: 210px; overflow: scroll; overflow-x: auto;}
#auctionPage #teamsBlock #stat_table #teamRoster_table {width: 100%; font-size: 95%; border: 0;}
#auctionPage #teamsBlock #stat_table a {color: blue;}

a.teamsListName, a.teamsListName:link, a.teamsListName:visited, a.teamsListName:active {color: blue;}
a.teamsListName:hover {color: red;}

#auctionPage #playersBlock {float: left; padding-left: 5px;}
#auctionPage #playersBlock table th {font-size: 70%;}
#auctionPage #playersBlock table span {font-size: 70%;}
#auctionPage #playersBlock #submitBidsTop {padding:4px 4px 2px 4px; background: darkblue; text-align: right;}
#auctionPage #playersBlock #submitBidsTop a {float: left; line-height: 1.75;}
#auctionPage #playersBlock #submitBidsBottom {padding:2px 4px 4px 4px; background: darkblue; text-align: right;}

#auctionPage #playersBlock #rfaDraftResults {padding:4px 4px 4px 4px; background: white; text-align: right;}

/* player list */
.widePageB { height:1000; width: 1700px; overflow: auto; overflow: -moz-scrollbars-horizontal; overflow-y: auto; overflow-x: scroll; }
.widePageF { height:1000; width: 1200px; overflow: auto; overflow: -moz-scrollbars-horizontal; overflow-y: auto; overflow-x: auto; }
.listContainer { background-color: #666; float: left; margin: 2px 2px 2px 2px; align: center; vertical-align: middle; white-space: nowrap;}
.listHeading {width: 180px; background-color: #999; color: #000; font-weight: bold; text-align: center; align: center; margin: 2px 2px 2px 2px;}
.listWidget {width: 180px; height: 70px; background-color: #CCC; color: #000; align: center; margin: 2px 2px 2px 2px; }
.listItem {width: 180px; height: 30px; background-color: #CCC; color: #000; align: center; margin: 2px 2px 2px 2px; }
.alignLeft { float: left; padding: 2px 0px 2px 2px; vertical-align: middle; }
.alignRight { float: right; padding: 2px 2px 2px 0px; }

input.priceInput { width: 40px; text-align: right; }

.errorBorder {
    border: 3px solid #c00 !important;
} 
